<!doctype html>
<html lang="zh-cn">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/util/css/bootstrap.min.css">

  <title>Hello, world!</title>
</head>

<body>
  <div class="container">
    <h1 class="text-center text-danger">我是404</h1>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/util/jq.js"></script>
  <script src="/util/popper.js"></script>
  <script src="/util/bs4.js"></script>

</body>

</html>