<!doctype html>
<html lang="zh-cn">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Hello, world!</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/public/util/css/bootstrap.min.css">
  <style>
    .login-box {
      width: 500px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid #ccc;
      border-radius: .25rem;
      padding: 15px
    }

    .row {
      margin-left: 0;
      margin-right: 0;
    }

    .login-box .col-form-label {
      padding-left: 0;
      padding-right: 0;
    }
  </style>
</head>

<body>
  <div class="container">
    <!-- <h1 class="text-center">Hello, world!</h1> -->
    <!-- <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>user_id</th>
          <th>user_name</th>
          <th>user_pwd</th>
        </tr>
      </thead>
      <tbody id="user-box"></tbody>
    </table> -->
    <div class="login-box">
      <h3 class="text-center" style="margin-bottom: 1rem;">Login</h3>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label text-right">User</label>
        <div class="col-sm-10">
          <input type="text" class="form-control user-name" value="zhengw" placeholder="user-name" autocomplete="off">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label text-right">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control user-pwd" value="123456" placeholder="Password" autocomplete="off">
        </div>
      </div>
      <div class="text-center">
        <button type="button" class="btn btn-primary login-btn">登录</button>
        <!-- <button type="button" class="btn btn-default check-btn">查看</button> -->
      </div>
    </div>

  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/public/util/jq.js"></script>
  <script src="/public/util/popper.js"></script>
  <script src="/public/util/bs4.js"></script>
  <script>
    navigator.geolocation.getCurrentPosition(geo_success, geo_error);

    function geo_success(position) {
      console.log(position.coords.latitude, position.coords.longitude);
    }

    function geo_error(msg) {
      console.log(msg.code, msg.message);
    }

    function fetchUser() {
      $.ajax({
        // url: 'string',
        url: 'json',
        data: {
          user_id: 1
        },
        // type: 'post',
        type: 'get',
        dataType: 'json',
        success: function (msg) {
          if (!$.isEmptyObject(msg)) {
            var str = '';
            $.each(msg, function (i, el) {
              str +=
                `<tr>
                <td>${el.user_id}</td>
                <td>${el.user_name}</td>
                <td>${el.user_pwd}</td>
                </tr>`;
            });
            $('#user-box').html(str);
          } else {
            $('#user-box').html('无数据');
          }
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {

        }
      });
    }

    fetchUser();

    function checkLogin(user, pwd) {
      $.ajax({
        // url: 'string',
        url: 'checkLogin',
        data: {
          user_name: user,
          user_pwd: pwd
        },
        type: 'post',
        dataType: 'json',
        success: function (msg) {
          if (msg.err_code == 0) {
            location.href = '/ws';
          }
          console.log(msg);
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {

        }
      });
    }
    $('.login-btn').click(function () {
      var user = $.trim($('.user-name').val());
      var pwd = $('.user-pwd').val();
      if (user && pwd) {
        checkLogin(user, pwd);
      } else {

      }
    });


    function updateSession() {
      $.ajax({
        url: 'updateSession',
        data: {},
        type: 'post',
        dataType: 'json',
        success: function (msg) {
          console.log(msg);
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {

        }
      });
    }
    // let count = 1;
    $('.check-btn').click(function (e) {
      e.preventDefault();
      updateSession();
      // count = 1;
    });
    let q = 0;
    // let time = setInterval(() => {
    //   console.log(count++);
    // }, 1000)
  </script>
</body>

</html>