<!doctype html>
<html lang="zh-cn">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/util/css/bootstrap.min.css">

  <title>Hello, world!</title>
</head>

<body>
  <div class="container">
    <h1 class="text-center">Hello, world!</h1>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>user_id</th>
          <th>user_name</th>
          <th>user_pwd</th>
        </tr>
      </thead>
      <tbody id="user-box"></tbody>
    </table>

    <button type="button" class="btn btn-default login-btn">登录</button>
    <button type="button" class="btn btn-default check-btn">查看</button>

  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/util/jq.js"></script>
  <script src="/util/popper.js"></script>
  <script src="/util/bs4.js"></script>
  <script>
    function fetchUser() {
      $.ajax({
        // url: 'string',
        url: 'json',
        data: {
          user_id: 1
        },
        // type: 'post',
        type: 'get',
        dataType: 'json',
        success: function (msg) {
          if (!$.isEmptyObject(msg)) {
            var str = '';
            $.each(msg, function (i, el) {
              str +=
                `<tr>
                <td>${el.user_id}</td>
                <td>${el.user_name}</td>
                <td>${el.user_pwd}</td>
                </tr>`;
            });
            $('#user-box').html(str);
          } else {
            $('#user-box').html('无数据');
          }
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {

        }
      });
    }

    fetchUser();

    function checkLogin() {
      $.ajax({
        // url: 'string',
        url: 'checkLogin',
        data: {
          user_name: 'zhengw123',
          user_pwd: '123456'
        },
        type: 'post',
        dataType: 'json',
        success: function (msg) {
          console.log(msg);
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {

        }
      });
    }
    $('.login-btn').click(function () {
      checkLogin();
    });


    function updateSession() {
      $.ajax({
        url: 'updateSession',
        data: {},
        type: 'post',
        dataType: 'json',
        success: function (msg) {
          console.log(msg);
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {

        }
      });
    }
    let count = 1;
    $('.check-btn').click(function (e) {
      e.preventDefault();
      updateSession();
      count = 1;
    });

    let time = setInterval(() => {
      console.log(count++);
    }, 1000)
  </script>
</body>

</html>